@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');


.swiper-button-prev,
.swiper-button-next {
  color: #82966e; /* sage */
  transition: color 0.2s, transform 0.2s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #677955; /* darker sage */
  transform: scale(1.2);
}
/* Base styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

/* Custom utility classes */
@layer utilities {
  /* Smooth transitions for interactive elements */
  .transition-smooth {
    @apply transition-all duration-300 ease-in-out;
  }
}


